*.iml
.idea

server/target
server/bin
server/games/*.jsom
client/node_modules

.DS_Store
client/dist

# local env files
client/.env.local
client/.env.*.local

# Log files
client/npm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
